body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #24252a;
  color: #fff;
  line-height: 1;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  background-image: linear-gradient(to right, rgba(94, 83, 104, .8), rgba(0, 0, 0, .8));
}

header text {
  position: relative;
  margin-left: 5%;
  margin-right: auto;
  text-transform: uppercase;
  cursor: pointer;
}

header text p {
  position: absolute;
  font-size: 35px;
  top: 25%;
  font-weight: bold;
  width: 300px;
  left: 130px;
  text-decoration: none;
  color: white;
}

header text img {
  position: relative;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  height: 50px;
  width: auto;
  cursor: pointer;
}

header nav {
  list-style: none;
}

header nav li {
  display: inline-block;
  padding: 0px 20px;
}

header nav li a {
  font-size: 16px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
}

header nav li a:hover {
  color: #0088a9;
}

header button {
  margin-right: 140px;
  font-size: 16px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

header button:hover {
  background-color: rgba(0, 136, 169, .75);
}

#Kultras {
  width: 100%;
  height: 100%;
}

#MainPage {
  position: relative;
}

#MainPage .ccb {
  margin-top: 0px;
  width: 100%;
  height: auto;
  background: white;
}

#MainPage text p {
  position: absolute;
  top: 50%;
  left: 70px;
  width: 450px;
  font-size: 14px;
  height: auto;
  line-height: 1.5;
  color: #888;
}

#MainPage text div {
  position: absolute;
  top: 75%;
  left: 70px;
  width: auto;
  height: auto;
  background-color: #c3073f;
  border-radius: 20px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#MainPage text div a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#MainPage text div:hover {
  background-color: rgba(195, 7, 63, .6);
}

#TeamProfile h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  /* #c3073f#950740;*/
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

#TeamProfile selection {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#TeamProfile selection img {
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid rgba(149, 7, 64, 1);
}

#TeamProfile selection img:hover {
  filter: brightness(60%);
}

#TeamProfile #ProfileImage {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  transition: height .5s ease-in-out;
  transition: background-image .5s ease-in-out;
}

#TeamProfile #ProfileImage .tpConcept {
  width: 70%;
  height: auto;
  border-radius: 50px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  margin-left: auto;
  margin-right: auto;
  transition: height .5s ease-in-out;
}

#TeamProfile #ProfileImage .tpConcept p {
  padding: 30px;
  font-size: 14px;
  line-height: 1.5;
  color: #ccc;
}

#GroupProcess {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #950740;
}

#GroupProcess .ProcessTitle {
  display: inline-block;
  margin-left: 10%;
  background-color: #6f2232;
  width: 15%;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px 20px;
  line-height: 2;
}

#GroupProcess .ProcessTitle p {
  margin-top: -10px;
  color: #999;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  line-height: 1.5;
}

#GroupProcess .ProcessContent {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  color: #ccc;
  padding: 50px 20px;
  margin-left: 3%;
}

#CareerPlan {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.ReCareerPlan {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ReCareerPlan div {
  position: relative;
  margin-left: .5%;
  margin-right: .5%;
  display: inline-block;
  width: 23%;
  height: 300px;
  transition: width .7s ease-in-out 0s;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.ReCareerPlan div h1 {
  margin: 0 auto;
  display: block;
  color: #c3073f;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.ReCareerPlan div .lineDiv {
  position: absolute;
  height: 90%;
  right: 0px;
  width: 1px;
  background-image: linear-gradient(#fff, #24252a);
}

.ReCareerPlan div h2 {
  margin: auto;
  display: block;
  font-weight: normal;
  margin-top: 10px;
  color: #ccc;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.ReCareerPlan div p {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  margin-top: 10px;
  color: #888;
  font-size: 14px;
  line-height: 1.5;
}

#Tool {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #950740;
}

#Tool .ToolTitle {
  display: inline-block;
  float: left;
  justify-content: center;
  margin-left: 10%;
  background-color: #6f2232;
  width: 15%;
  height: 300px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0px 20px;
  line-height: 2;
}

#Tool .ToolTitle Text {
  display: block;
  margin-top: 100px;
}

#Tool .ToolTitle p {
  margin-top: -10px;
  color: #999;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  line-height: 1.5;
}

#Tool .Selection {
  display: inline-block;
  width: 35%;
  height: inherit;
  position: relative;
}

#Tool .GitTool {
  position: relative;
  display: flex;
  float: left;
  height: 280px;
  margin-left: 20px;
  margin-top: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 5px 5px 5px #000000;
  cursor: pointer;
}

#Tool .Selection p {
  position: absolute;
  top: 30px;
  color: #24252a;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  left: 40px;
  max-width: 100px;
}

#Tool .Selection p1 {
  position: absolute;
  top: 30px;
  color: #24252a;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  left: 190px;
  text-align: center;
  max-width: 100px;
}

#Tool .Description {
  position: relative;
  display: inline-block;
  width: 35%;
  height: inherit;
}

#Tool .Description Text {
  display: block;
  width: 100%;
  height: inherit;
  position: absolute;
}

#Tool .Description Text h1 {
  margin-top: 10px;
  text-transform: uppercase;
}

#Tool .Description Text div {
  margin-top: 5px;
  margin-left: 40px;
  height: 4px;
  width: 150px;
  background-image: linear-gradient(to right, #d74177, #ffe98a);
}

#Tool .Description Text li {
  color: #ccc;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 5px;
}

#ProjectData {
  position: relative;
  width: 100%;
  height: 610px;
}

#ProjectData .RightMesh {
  margin-top: 40px;
  margin-left: 40px;
  display: inline-block;
  float: left;
  width: 70%;
  height: auto;
}

#ProjectData .RightMesh img {
  display: inline-block;
  float: left;
  width: 100%;
  height: auto;
}

#OverView {
  position: absolute;
  right: -10%;
  margin-left: 50%;
  width: 60%;
  height: 650px;
  background-color: rgba(0, 0, 0, .6);
  transform: skewX(-10deg);
}

#OverView .reskew {
  width: 80%;
  height: inherit;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewX(10deg);
}

#OverView .reskew h1 {
  text-transform: uppercase;
  font-size: 40px;
  margin-right: 10px;
  transform: skewX(-10deg);
}

#OverView .reskew p {
  padding-right: 50px;
  font-size: 14px;
  color: #aaa;
  line-height: 1.5;
}

#Motivation_LandScape {
  display: flex;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #950740;
}

#Motivation_LandScape .Title {
  position: relative;
  margin-left: 10%;
  background-color: #6f2232;
  width: 15%;
  height: auto;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  padding: 0px 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Motivation_LandScape .Title .Text {}

#Motivation_LandScape .Title p {
  margin-top: 0px;
  color: #999;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  line-height: 1.5;
}

#Motivation_LandScape .Content {
  margin-left: 2%;
  margin-right: 2%;
  width: 30%;
  padding: 20px 0px;
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
}
#Motivation_LandScape sec {
  margin-left: 2%;
  width: 80%;

  height: auto;
}
#Motivation_LandScape sec img {
  display:flex;
  margin-left: 2%;
  width: 30%;
  height: auto;
  padding-top: 20px;
  float: left;
  object-fit: contain;
  vertical-align:top;
  flex: 25%;
}
#Aim {
  position: relative;
}

#Aim .Dictator {
  margin-top: 20px;
  display: inline-block;
  float: right;
  margin-left: 30%;
  width: 70%;
  height: auto;
}

#AimShow {
  position: absolute;
  left: -10%;
  width: 65%;
  height: 700px;
  background-color: rgba(0, 0, 0, .6);
  transform: skewX(10deg);
}

#AimShow .reskew {
  width: 95%;
  height: inherit;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewX(-10deg);
}

#AimShow .reskew text {
  margin-left: 15%;
}

#AimShow .reskew p {
  padding-left: 40px;
  font-size: 12px;
  color: #aaa;
  line-height: 2;
}

#AimShow .reskew text h1 {
  text-align: center;
  padding-left: 50px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
}
.parallax{
  background-image: url('/NexieCalculation.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
  width: auto;
  display:flex;
  justify-content:center;
  align-items: center;
  transform: skewX(-6deg);
}
.parallax p{
  text-align: center;
  font-weight:bold;
  font-size: 100px;
  background: -webkit-linear-gradient(180deg,#c2e59c 0%, #64b3f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#PlanProcess .Content{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #2b2c33;
  margin-top: 40px;
  box-shadow: 10px 10px 0px #1a1a1d;
  padding:20px;
}
#PlanProcess .Content p{
  font-size: 14px;
  color: #aaa;
  line-height: 1.5;
}
.Roleparallax{
  margin-top: 40px;
  background-image: url('/Asset/Picture/NexieRole.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
  width: auto;
  display:flex;
  justify-content:center;
  align-items: center;
}
.Roleparallax p{
  text-align: center;
  font-weight:bold;
  font-size: 100px;
  background: -webkit-linear-gradient(180deg,#dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.RoleContent{
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RoleContent div{
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
  height: inherit;
  min-height: 550px;
  text-align: center;
  border: 6px solid #950740;
  justify-content: center;
  align-items: center;
}
.RoleContent div img{
  margin-top: 20px;
width: 30%;
height: auto;
}
.RoleContent div p{
  margin-top: 20px;
  line-height: 1.5;
  font-size: 14px;
  color: #aaa;
  padding: 0 20px;
  padding-bottom: 20px;
}
.RoleContent div p role{
font-size: 15px;
color: #c30740;
}
#Scope_Limit {
  display: flex;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #950740;
}

#Scope_Limit .Title {
  position: relative;
  margin-left: 10%;
  background-color: #6f2232;
  width: 15%;
  height: auto;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  padding: 0px 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Scope_Limit .Title .Text {}

#Scope_Limit .Title p {
  margin-top: 0px;
  color: #999;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  line-height: 1.5;
}

#Scope_Limit .Content {
  margin-left: 2%;
  margin-right: 2%;
  width: 70%;
  padding: 20px 0px;
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
}
#tnt{
  margin-top: 40px;
  width: 100%;
  height: auto;
}
#tnt h1{
  text-align: center;
  line-height: 1.5;
  font-size: 50px;
  text-transform: uppercase;
}
#tnt p{
  color:#888;
  font-size: 14px;
  text-align: center;
}
#tnt .container{
  width: 98%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  height:auto;
  display: inline-flex;
}
#tnt .container .side{

  width: 35%;
  height: inherit;
}
#tnt .container .side .folder{
  margin-top: 20px;
  width:90%;
  float: right;
  height: 100px;;
  position: relative;
  background-color: #2b2c33;
}
#tnt .container .side .folder text{
  width: 70%;
  float:left;
}
#tnt .container .side .folder h2{
text-align: right;margin-top: 30px;
color: #FFF;
font-size: 27px;
text-transform: uppercase;
}
#tnt .container .side .folder p{
  text-align: right;margin-top: 5px;
  color: #ccc;
  font-size: 14px;
}
#tnt .container .side .folder .sideLine{
  position: absolute;
  top: 10%;
  height: 80%;
  width: 1px;
  right: 100px;
  background-color:#ccc;
}
#tnt .container .side .folder .endLine{
  position: absolute;
  bottom:0;
  left: 5%;
  height: 1px;
  width: 90%;
  right: 100px;
  background: linear-gradient(to right, #950740, #fff);
}
#tnt .container .side .folder img{
  position: absolute;
  right:10px;
  height: 80px;
  width: 80px;
}
#tnt .container .side .folder :hover{
  background-color: #1a1a1d;
}
#tnt .container .side .rfolder{
  margin-top: 20px;
  width:90%;
  float: left;
  height: 100px;;
  position: relative;
  background-color: #2b2c33;
}
#tnt .container .side .rfolder :hover{
  background-color: #1a1a1d;
}
#tnt .container .side .rfolder text{
  width: 70%;
  float:right;
}
#tnt .container .side .rfolder h2{
text-align: left;margin-top: 30px;
color: #FFF;
font-size: 27px;
text-transform: uppercase;
}
#tnt .container .side .rfolder p{
  text-align: left;margin-top: 5px;
  color: #ccc;
  font-size: 14px;
}
#tnt .container .side .rfolder .sideLine{
  position: absolute;
  top: 10%;
  height: 80%;
  width: 1px;
  left: 100px;
  background-color:#ccc;
}
#tnt .container .side .rfolder .endLine{
  position: absolute;
  bottom:0;
  right: 5%;
  height: 1px;
  width: 90%;

  background: linear-gradient(to right,#fff, #950740);
}
#tnt .container .side .rfolder img{
  position: absolute;
  left:10px;
  height: 80px;
  width: 80px;
}
#tnt .container .mid{
  width:30%;
  height: auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tnt .container .mid .content{
  width: 90%;
  height: auto;
  color: #aaa;
  font-size: 14px;
  line-height: 2;
  background-color: #1a1a1d;
  padding: 5px;
}
#Testing {
  display: flex;
  margin-top: 80px;
  position: relative;
  width: 100%;
  height: auto;
  transform: skewY(6deg);
   background-color: #111;
}

#Testing .Title {
  position: relative;
  margin-left: 10%;

  background-color: #6f2232;
  width: 15%;
  height: auto;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  padding: 0px 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}


#Testing .Title p {
  margin-top: 0px;
  color: #999;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  line-height: 1.5;
}

#Testing .Content {
  margin-left: 7%;
  margin-right: 5%;
  width: 60%;
  padding: 20px 0px;
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 40px;
}
#Testing .ReShew{
  margin-top: 70px;
    transform: skewY(-6deg);
    display: inline-flex;
}
.TimeFrameparallax{
  background-image: url('/Asset/Picture/TimeFreeze.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
  display:flex;
  justify-content:center;
  align-items: center;
  transform: skewY(6deg);
}
.TimeFrameparallax p{
  text-align: center;
  font-weight:bold;
  font-size: 100px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background: -webkit-linear-gradient(180deg,#f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: skewY(-6deg);
}
